#projectNav {
	overflow: scroll;
	padding: .25rem;
	border: 1px solid black;
	border-radius: 1rem;
	width: 20rem;
	height: 100vh;
	margin: .2rem;
	text-align: center;
}
#app {
	display: flex;
}
#kanban {
	display: flex;
	padding: .25rem;
	width: 100%;
	overflow-x: scroll;
}
.column {
	width: 20rem;
	height: 100vh;
	margin: 0rem .2rem 0rem .2rem;
	border: 1px solid black;
	text-align: center;
}
.columnTitle {
	background: lightgray;
	margin: 0;
}
.projectCard {
	border: 1px solid lightgray;
	border-radius: .25rem;
	margin: .5rem;
	padding: .25rem;
	transition: .4s;
}
.projectCard:hover {
	background: lightgray;
	transition: .4s;
}